@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

body, html {
    font-family: Arial;
    height: 100%;
    background-color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Figtree", Arial;
}

p {
    color: white;
    text-align: justify;
    font-family: "Figtree", Arial;
}

a, button {
    color: black;
    background-color: transparent;
    text-decoration: none;
    padding: 5px;
    border: 1px solid transparent;
    font-size: medium;
    font-family: "Figtree", Arial;
}

a:hover, button:hover {
    color: grey;
}

.svg {
    width: 30px;
    height: 30px;
}

.svg-button {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}