body, html {
    font-family: Helvetica;
    height: 100%;
    background-color: #161833;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: Arial;
}

p {
    color: white;
    text-align: justify;
}

a, button {
    color: white;
    background-color: #1c1e3a;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border: 1px solid transparent;
    font-size: medium;
}

a:hover, button:hover {
    background-color: #EC5C28;
    color: black;
}

.svg {
    width: 30px;
    height: 30px;
}