/* style.css */

body, html {
    font-family: Helvetica;
    height: 100%;
    display : flex;
    flex-direction: column;
    background-color: #161833;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: bold;
    font-family: Arial;
}

p {
    color: white;
}

.header {
    background-color: #1c1e3a;
    display : flex;
    flex-direction: column;
    color: white; 
    padding: 10px;
}
.header h1 {
    margin: 0px;
}

.header p {
    font-style: italic;
    margin-top: 0px;
}

.header-container {
    display : flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.footer {
    background-color: #161833;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #161833;
}

.top-menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}

.top-menu a:hover {
    text-decoration: underline;
}

.main-content {
    padding-top: 0px;
}

.graph-body-content {
    display: flex;
}

.graph-main-content {
    flex: 1;
    padding-left: 30px;
    border-radius: 16px;
    background-color: #161833;
}

.graph-main-content h3 {
    color: #FFEECF;
}

.radio-items {
    margin: 10px;
    display : flex;
    flex-direction: column;
}

.graphs-content {
    display : flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.graphs-content > * {
    flex: 1;
}

.graph-day-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radio-items-container {
    padding: 15px;
    background-color: #1c1e3a;
    border-top: none;
}

.radio-items-container h4 {
    margin: 0;
    padding: 0;
    text-align: left;
    padding: 10px;
    color: #a1a1a1;
}

.radio-items-container label {
    color: white;
}

input[type='radio'] {
    accent-color: white;
    margin-right: 10px;
}

.graph-metrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.graph-metrics p {
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.dash-graph {
    border-radius: 16px;
    background-color: #1c1e3a;
    margin: 10px;
    flex: 1;
}

.graph-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1e3a;
    border-radius: 16px;
    margin: 10px;
}

.graph-info h1 {
    color: white;
    font-weight: bold;
}

.graph-info-container {
    display: flex;
    flex-direction: column;
}

.graph-info-container > * {
    flex: 1;
}

.rc-slider-mark-text {
    color: white;
}

.rc-slider-rail,
.rc-slider-track  {
    background-color: #1c1e3a;
}

.rc-slider-step  {
    background-color: #1c1e3a;
}

.clickedStyle {
    background-color: #FFEECF;
    color: #161833;
}

.graphs-container {
    display: flex;
    flex-direction: row;
}






