/* style.css */

body, html {
    font-family: Helvetica;
    height: 100%;
    background-color: #161833;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.body-container {
    margin-top: 140px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: Arial;
}

p {
    color: white;
}

a, button {
    color: white;
    background-color: #1c1e3a;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border: 1px solid transparent;
    font-size: medium;
}

a:hover, button:hover {
    background-color: #EC5C28;
    color: black;
}

a:hover {
    width: 110%; 
}

.header {
    background-color: #1c1e3a;
    color: white; 
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 102;
    height: 70px;
}

.header h3 {
    color: #EC5C28;
    margin: 0px;
    margin-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header p {
    font-style: italic;
    margin-top: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-container {
    display : inline-flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.footer {
    background-color: #161833;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 90px;
    height: 40px;
    background-color: #1c1e3a;
    padding-left: 10px;
    border-bottom: 1px solid grey;
}

@media (max-width: 400px) {
    .top-menu {
        display: inline-block;
    }
}

.main-content {
    padding: 0px;
}

.graph-main-content {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    background-color: #161833;
}

.graph-main-content h2 {
    color: #EC5C28;
}

.graphs-content {
    display : flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.graphs-content > * {
    flex: 1;
}

.graph-day-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 450px) {
    .graph-day-container  {
        display: block;
    }
}

input[type='radio'] {
    accent-color: white;
    margin-right: 10px;
}

.graph-metrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.graph-metrics p {
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.dash-graph {
    border-radius: 16px;
    background-color: #1c1e3a;
    margin: 10px;
    flex: 1;
}

.graph-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1c1e3a;
    border-radius: 16px;
    margin: 10px;
}

.graph-info-avg {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.graph-info-avg > * {
    flex: 1;
}

.graph-info h1 {
    color: #EC5C28;
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}

.graph-info h2 {
    color: grey;
}

#nb-site {
    text-align: center;
    margin: 0px;
    color: #EC5C28;
    margin-bottom: 20px;
}

.best-price {
    text-align: center;
    margin-left: 0px;
}

.graph-info-container {
    display: flex;
    flex-direction: column;
}

.graph-info-container > * {
    flex: 1;
}

.rc-slider-mark-text {
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: medium;
    margin: 10px;
    margin-left: 20px;
}

.rc-slider-rail,
.rc-slider-track  {
    background-color: #1c1e3a;
}

.rc-slider-step  {
    background-color: gray;
}

.rc-slider-dot {
    background-color: white;
    border: 2px solid white;
    width: 10px;
    height: 10px;
}

.rc-slider-handle {
    background-color: #EC5C28;
    border: 2px solid #EC5C28;
    width: 18px;
    height: 18px;
}

.rc-slider-handle:hover,
.rc-slider-handle:focus {
    background-color: #EC5C28;
    border: 2px solid #EC5C28;
}

.graphs-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 450px) {
    .graphs-container {
        display: flex;
        flex-direction: column;
    }
}

.graph-line-container {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 450px) {
    .graph-line-container {
        display: block;
    }
}


#graph-slider {
    padding: 0px;
    margin: 10px;
    padding-left: 5px;
    margin-right: 100px;
}

.plot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


