/* style.css */

.body-container {
    margin-top: 100px;
}

.header {
    background-color: #1c1e3a;
    color: white; 
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 102;
    height: 50px;
}

#logo-link {
    margin: 0px;
    padding: 0px;
}

.header h3 {
    color: white;
    margin: 0px;
}

.header-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header-text > * {
    flex: 1;
}

.header p {
    margin-top: 0px;
    margin: 0px;
    color: #5D53BE;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-container {
    display : inline-flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.link {
    padding: 5px;
}

.footer {
    background-color: #161833;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 64px;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 70px;
    height: 40px;
    background-color: #1c1e3a;
    padding-left: 10px;
    border-bottom: 1px solid black;
}

.main-content {
    padding: 0px;
}

.graph-main-content {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    background-color: #161833;
}

.graph-main-content h2 {
    color: #5D53BE;
}

.graph-main-content h3 {
    color: white;
}

.graphs-content {
    align-items: stretch;
    width: 100%;
}

.graph-metrics {
    justify-content: center;
    align-items: center;
}

.graph-metrics p {
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.dash-graph {
    box-shadow: 1px 1px 1px black;
    border: 1px solid black;
    border-radius: 16px;
    background-color: #1c1e3a;
    margin: 10px;
    flex: 1;
    font-family: Tahoma;
}

.graph-info {
    box-shadow: 1px 1px 1px black;
    border: 1px solid black;
    text-align: center;
    background-color: #1c1e3a;
    border-radius: 16px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: center;
}


.graph-info p {
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
}

.graph-info-avg {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.graph-info-avg-vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.graph-info-avg > * {
    flex: 1;
}

.graph-info h1 {
    color: white;
    font-weight: bold;
    font-size: 20pt;
    margin: 0px;
}

.graph-info h2 {
    color: #5D53BE;
    font-size: 15pt;
}

.graph-info p {
    color: grey;
}

#nb-site {
    text-align: center;
    margin: 0px;
    color: #5D53BE;
    margin-bottom: 20px;
}

.rc-slider-mark-text {
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: small;
    margin: 0px;
}

.rc-slider-rail,
.rc-slider-track  {
    background-color: #1c1e3a;
}

.rc-slider-step  {
    background-color: gray;
}

.rc-slider-dot {
    background-color: white;
    border: 2px solid white;
    width: 10px;
    height: 10px;
}

.rc-slider-handle {
    background-color: #5D53BE;
    border: 2px solid #5D53BE;
    width: 18px;
    height: 18px;
}

.rc-slider-handle:hover,
.rc-slider-handle:focus {
    background-color: #5D53BE;
    border: 2px solid #5D53BE;
}

#graph-slider {
    padding: 0px !important;
    flex: 0.1 !important;
    margin: 10px !important;
    width: 60%;
}

@media (max-width: 450px) {
    #graph-slider {
        flex: 1;
    }
}

.plot-container a {
    font-size: x-small;
}

.plot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.graphs-container, .graph-line-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.graph-line-container {
    flex-direction: column;
    align-items: center;
    
}

.graphs-container > *, .graph-line-container > * {
    flex: 1;
}

.graph-day {
    display: flex;
}

.graph-day-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#graph-line {
    display: flex;
    width: 99%;
    margin-right: 0px;
    margin-left: 0px;
}

.best-price-server {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.best-price-server img {
    margin-left: 10px;
}

.best-price-server a {
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
}

#external-link {
    margin-left: 0px;
}

.deviation-related-to-average {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.deviation-related-to-average p {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}

@media (max-width: 450px) {
    .graphs-container {
        flex-direction: column;
    }
}

.description {
    font-weight: 400 !important;
}

.title-server {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.graph-info-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.title-graph {
    margin: 0px;
}

.white-p {
    color: white !important;
}

.title {
    margin-top: 10px !important;
}
