name: Docker image CI for GHCR

on:
  push:
    branches:
      - master

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build and push the image
        run: |
          docker login --username clementraoulastek --password ${{ secrets.GH_PAT }} ghcr.io
          docker build . --tag ghcr.io/clementraoulastek/kamasdashboard:latest
          docker push ghcr.io/clementraoulastek/kamasdashboard:latest
